.graph {
    width: 70%;
    aspect-ratio: 3.2;
    background-color: #e2e8f0;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
    align-items: end;
    display: grid;
    grid-template-columns: repeat(50,1fr);
}

.bar {
    background-color: #553C9A;
}