/* _content/crytoTracker/Components/Blocks/CurrencyViewer.razor.rz.scp.css */
.currency-viewer[b-eeyhb8107g] {
    background-color: white;
    aspect-ratio: 3;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    font-family: Arial;
    text-align: center;
    color: #1a202c;
    border: 5px solid #553C9A
}

.rate-label[b-eeyhb8107g] {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.value[b-eeyhb8107g] {
    font-size: 1.875rem;
}

.upper-text[b-eeyhb8107g] {
    font-size: 0.875rem;
    align-self: flex-start;
}

.delete-button[b-eeyhb8107g] {
    position: relative;
    bottom: 3%;
    border: none;
    background-color: transparent;
}

.delete-button:active[b-eeyhb8107g] {
    color: red;
}
/* _content/crytoTracker/Components/Blocks/CurrencyViewerCollection.razor.rz.scp.css */
.currency-viewer-container[b-qt4z3eqnz6] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    background-color: #e2e8f0;
    width: 70%;
    left: 50%;
    transform: translate(-50%);
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
/* _content/crytoTracker/Components/Blocks/Graph.razor.rz.scp.css */
.graph[b-wzbr7k4vsr] {
    width: 70%;
    aspect-ratio: 3.2;
    background-color: #e2e8f0;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
    align-items: end;
    display: grid;
    grid-template-columns: repeat(50,1fr);
}

.bar[b-wzbr7k4vsr] {
    background-color: #553C9A;
}
/* _content/crytoTracker/Components/Blocks/TokenSelector.razor.rz.scp.css */
.token-selector[b-1coxzj7mce] {
    width: 70%;
    background-color: #e2e8f0;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 10px;
    font-family: Arial;
}

.token-selector > input[b-1coxzj7mce] {
    width: 20%;
    border-radius: 3.5px;
    border: none;
}

.ticker-name-button[b-1coxzj7mce] {
    border: none;
    background-color: white;
    border-radius: 3.5px;
    margin: 2px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.button-collection[b-1coxzj7mce] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.error-text[b-1coxzj7mce] {
    color: red;
}
/* _content/crytoTracker/Components/Layout/MainLayout.razor.rz.scp.css */
#blazor-error-ui[b-88ek53rhk6] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-88ek53rhk6] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/crytoTracker/Components/Pages/Home.razor.rz.scp.css */
.container[b-ol4lulmeto] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    background-color: #e2e8f0;
    width: 70%;
    left: 50%;
    transform: translate(-50%);
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
